@import "../reindeer/reindeer.scss";

$font-stack: Arial, sans-serif ;
 
 $color-primario: #093748 ; 
 $color-secundario: #0CA4DD;
 $color-neutro: #F9F9F9 ; 
 $color-texto: #ACACAC ;
 $color-titulo: #535353 ;
 $color-signOut: #8BD9F8;
 $color-cabecera: #C1CDD1;
 $color-bordeMenuPrincipal: #05232E ;
 $color-menuPrincipal: #0B4459 ;
 $color-barraHerramientas: #DCDDDE;
 $color-bordeBarraHerramientas: #9E9E9E;
 $color-textoFooter: #B6C3C8;
 $color-menuBar: #0B4459 ;
 $color-textoMenuBar: #CED9DD;
 $color-menuBarRollover: #0B7CA6;
 $color-textoMenuBarRollover: #CED9DD;
 $color-menuBarPulsado: #0B5D7D;
 $color-textoMenuBarPulsado: #CEDFE5;
 $color-subMenuBar: #DCDDDE ;
 $color-bordeSubMenu: #8F8F8F;
 $color-textoSubMenuBar: #535353;
 $color-subMenuBarRollover: #DBE6EA;
 $color-subMenuBarPulsado: #DBE6EA;
 $color-borderIcons: #9E9E9E;
 $color-hoverIcons: #D2D3D5;
 $color-buttons: #E2E2E2;
 $color-buttonsHover: #CECECE;
 $color-bordeButtons: #B9BBBD;
 $color-bordeButtonsHover: #9E9E9E;
 $color-textoButtonsPressed: #8A8A8A;
 $color-shadowButtonsPressed: #BEC0C2;
 
.demo {
	@include reindeer; 
		
	.cabecera { 
		background-color: $color-primario;
		color: $color-cabecera;
		font-family: $font-stack;
		font-size: 11px;
		font-weight: normal;
		border: 0;
		padding-left: 10px;
	}

	.cabecera .v-caption {
		height: 10px;
	}
	
	.cabecera .userInfo {
		padding-top: 10px;
		float: right;
		padding-right: 10px;
		text-transform: uppercase;
	}
	
	.cabecera .userInfo .signOut .v-link span{
		color: $color-signOut;
	}
	
	.v-link a:hover span {
		text-decoration: underline;
		color: $color-secundario;
	}
		
	.v-link span {
		text-decoration: none;
		color: $color-secundario;
	}
	
	.menuPrincipal {
		background: -webkit-linear-gradient($color-menuPrincipal, $color-primario);
		/* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient($color-menuPrincipal, $color-primario);
		/* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient($color-menuPrincipal, $color-primario);
		/* For Firefox 3.6 to 15 */
		background: linear-gradient($color-menuPrincipal, $color-primario);
		/* Standard syntax */

		border: 1px, 0, 0, 1px, solid, $color-bordeMenuPrincipal;

		color: $color-texto;
		font-family: $font-stack;
		font-size: 11px;
		font-weight: normal;
	}
	
	.menuPrincipal .v-menubar {
		background: $color-menuBar; 
		color: $color-textoMenuBar;
	}
	
	.menuPrincipal .v-menubar {
		background: $color-menuBar; 
		color: $color-textoMenuBar;
	}
	
	.menuPrincipal .v-menubar-submenu .v-menubar-menuitem-selected {
		background:  $color-subMenuBarRollover;
		color:  $color-textoSubMenuBarRollover
	}
	
	.menuPrincipal .v-menubar-submenu {
		background: $color-subMenuBar; 
		color: $color-textoSubMenuBar;
	}
	
	.barraHerramientas {
		background-color: $color-barraHerramientas;
		border: 0, 0, 0, 1px, solid, $color-bordeBarraHerramientas;
		color: $color-texto;
		font-family: $font-stack;
		font-size: 14px;
		font-weight: normal;
		padding-top: 5px;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.barraHerramientas .v-image{
		width: 20px;
		height: 20px;
	}
	
	.barraHerramientas .barraHeramientasIcons .v-image:hover{
		border: 1px, 0, 0, 1px, solid, $color-borderIcons;
		background-color: $color-hoverIcons;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;		
		padding: 2px;
	}
	
	.barraHerramientas .barraHerramientasPacienteInfo {
		float: right;
		font-family: $font-stack;
		font-size: 14px;
		font-weight: normal;
		color: #8a8a8a;
		text-shadow: 0, 1px, 0 #FBFCFC;
	}
	
	.barraHerramientas .barraHerramientasPacienteInfo .nombrePaciente{
		color: #525252;
		text-transform: uppercase;
	}
	
	.barraHerramientas .v-spacing{
		width: 10px;
	}
	
	.barraBusqueda {
		background-image:url("./img/BarraBusqueda.png");
		background-repeat: repeat-y;
		background-position: left;
	}
	
	.barraBusquedaPulsada{
		background-image:url("./img/BarraBusquedaMarcado.png");
		background-repeat: repeat-y;
		background-position: left;
	}
	
	.barraBusqueda .v-button-wrap, .barraBusquedaPulsada .v-button-wrap {
		height: 41px;
		width: 20px;
		padding: 0;
	}
	.barraBusqueda .v-button, .barraBusquedaPulsada .v-button,
	.barraBusqueda .v-button:hover,.barraBusqueda .v-button:focus,
	.barraBusquedaPulsada .v-button:hover,.barraBusquedaPulsada .v-button:focus {
		padding:0;
		border:0;
		background: none;
		-moz-box-shadow:    0;
  		-webkit-box-shadow: 0;
  		box-shadow:         0;
	}
	
	.barraBusqueda .v-pressed {
		background-color: $color-buttons;
		border: 0;
		-moz-box-shadow:    0;
  		-webkit-box-shadow: 0;
  		box-shadow:         0;
	}
	
	.barraBusqueda .v-button .v-icon, .barraBusquedaPulsada .v-button .v-icon, 
	.barraBusqueda .v-pressed .v-icon, .barraBusquedaPulsada .v-pressed .v-icon {
		margin:0;
	}
	
	.footer { 
			background-color: $color-primario;
			color: $color-textoFooter;
			font-family: Verdana;
			font-size: 10px;
			font-weight: normal;
			border-color: $color-bordeMenuPrincipal;
			border-sides: top;
			border-style: solid;
			border-width: 1px;
			padding-left: 10px;
	}
	
	.v-button {
		border-width: 1px;
		border-color: $color-bordeButtons;
		border-style: solid;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;	
		background: -webkit-linear-gradient($color-neutro, $color-buttons);
		/* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient($color-neutro, $color-buttons);
		/* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient($color-neutro, $color-buttons);
		/* For Firefox 3.6 to 15 */
		background: linear-gradient($color-neutro, $color-buttons);
		/* Standard syntax */
	}
	
	.v-pressed {
		background-color: $color-buttons;
		-moz-box-shadow:    inset 0 0 2px $color-shadowButtonsPressed;
  		-webkit-box-shadow: inset 0 0 2px $color-shadowButtonsPressed;
  		box-shadow:         inset 0 0 2px $color-shadowButtonsPressed;
	}
	
	.v-button:hover, .v-button:focus{
		border-width: 1px;
		border-color: $color-bordeButtonsHover;
		border-style: solid;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		border-radius: 3px;	
				background: -webkit-linear-gradient($color-neutro, $color-buttonsHover);
		/* For Safari 5.1 to 6.0 */
		background: -o-linear-gradient($color-neutro, $color-buttonsHover);
		/* For Opera 11.1 to 12.0 */
		background: -moz-linear-gradient($color-neutro, $color-buttonsHover);
		/* For Firefox 3.6 to 15 */
		background: linear-gradient($color-neutro, $color-buttonsHover);
		/* Standard syntax */
	}
	
	.v-button-wrap, .v-button:focus .v-button-wrap {
		background: none;
	}
	
	.v-button-caption {
		font-family: $font-stack;
		font-size: 14px;
		color: $color-secundario;
	}
	
	.v-pressed .v-button-caption {
		font-family: $font-stack;
		font-size: 14px;
		color: $color-textoButtonsPressed;
	}
	
	
}